body {
    font-family: 'Open Sans', sans-serif;
}

ul {
  list-style: none;
  }

a.btn-4{
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid #000000;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family: 'Open Sans', sans-serif;
    font-weight:300;
    color:rgb(0, 0, 0);
    text-align:center;
    transition: all 0.2s;
    }
    a.btn-4:hover{
    color:#000000;
    background-color:#8d8d8d6e;
    }
    @media all and (max-width:30em){
    a.btn-4{
    display:block;
    margin:0.4em auto;
    }
    }

a.btn-5{
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid #000000;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family: 'Open Sans', sans-serif;
    font-weight:300;
    color:rgb(0, 0, 0);
    text-align:center;
    transition: all 0.2s;
    }
    a.btn-5:hover{
    color:#000000;
    background-color:#8d8d8d6e;
    }
    @media all and (max-width:30em){
    a.btn-5{
    display:block;
    margin:0.4em auto;
    }
    }

a.btn-6{
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid #000000;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family: 'Open Sans', sans-serif;
    font-weight:300;
    color:rgb(0, 0, 0);
    text-align:center;
    transition: all 0.2s;
    }
    a.btn-6:hover{
    color:#000000;
    background-color:#8d8d8d6e;
    }
    @media all and (max-width:30em){
    a.btn-6{
    display:block;
    margin:0.4em auto;
    }
    }

a.btn-7{
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid #000000;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family: 'Open Sans', sans-serif;
    font-weight:300;
    color:rgb(0, 0, 0);
    text-align:center;
    transition: all 0.2s;
    }
    a.btn-7:hover{
    color:#000000;
    background-color:#8d8d8d6e;
    }
    @media all and (max-width:30em){
    a.btn-7{
    display:block;
    margin:0.4em auto;
    }
    }

a.btn-8{
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid #000000;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family: 'Open Sans', sans-serif;
    font-weight:300;
    color:rgb(0, 0, 0);
    text-align:center;
    transition: all 0.2s;
    }
    a.btn-8:hover{
    color:#000000;
    background-color:#8d8d8d6e;
    }
    @media all and (max-width:30em){
    a.btn-8{
    display:block;
    margin:0.4em auto;
    }
    }

a.btn-9{
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid #000000;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family: 'Open Sans', sans-serif;
    font-weight:300;
    color:rgb(0, 0, 0);
    text-align:center;
    transition: all 0.2s;
    }
    a.btn-9:hover{
    color:#000000;
    background-color:#8d8d8d6e;
    }
    @media all and (max-width:30em){
    a.btn-9{
    display:block;
    margin:0.4em auto;
    }
    }